{% extends 'blog/base/main.html' %}
{% load static %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'blog/base/content.css' %}">
  <link rel="stylesheet" href="{% static 'blog/components/carousel.css' %}">
  <link rel="stylesheet" href="{% static 'blog/components/navbar.css' %}">
{% endblock stylesheets %}

{% block body %}
  <header>
    {% include 'blog/components/navbar.html' %}
    {% include 'blog/components/carousel.html' %}
  </header>

  <div class="container main-content">
    {% block content %}
    {% endblock content %}
  </div>
{% endblock body %}
