{% extends 'blog/base/main.html' %}
{% load static %}

{% block title %}
  EditorCP - {{ block.super }}
{% endblock title %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'blog/base/editorcp.css' %}">
  <link rel="stylesheet" href="{% static 'blog/components/sidebar.css' %}">
{% endblock stylesheets %}

{% block body %}
  {% include 'blog/components/sidebar.html' %}

  <div class="ecp-content">
    <div class="title-container">
      <h1>
        {% block h1 %}
        {% endblock h1 %}
      </h1>
    </div>

    <div class="mx-2">
      {% block content %}
      {% endblock content %}
    </div>
  <div>
{% endblock body %}
