.black-linear-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: linear-gradient(to right, rgba(0, 0, 0, .8), transparent, transparent, rgba(0, 0, 0, .8));
  z-index: 1;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 2;
}
