.black-linear-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .2), rgba(0, 0, 0, .2), rgba(0, 0, 0, .2), rgba(0, 0, 0, .8));
  z-index: 1;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-25%);
  width: 50%;
  padding: 0;
  margin: 0 auto;
  text-shadow: 0 0 2px black;
}

.carousel-caption h5 {
  font-size: 2rem;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 2;
  font-size: 2rem;
}

.carousel-indicators li {
  width: 75px;
}

@media (min-width: 1200px) {
  .carousel-caption h5 {
    font-size: 3rem;
  }

  .carousel-caption p {
    font-size: 1.5rem;
  }

  .carousel-control-next,
  .carousel-control-prev {
      font-size: 3rem;
  }
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}
