.ecp-sidebar ul {
  width: 80%;
}

.group-title {
  width: 90%;
}

@media (min-width: 576px) {
  .ecp-sidebar ul {
    width: 60%;
  }

  .group-title {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .ecp-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--sidebar-width);
    overflow-y: auto;
  }
}

.ecp-sidebar ul {
  background: white;
  list-style-type: none;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
}

.ecp-sidebar ul:first-of-type {
  margin-top: 30px;
}

.ecp-sidebar a {
  text-decoration: none;
  border-bottom: 2px solid var(--main-blue);
}

.group-title {
  margin: 30px auto 10px;
  border-bottom: 4px solid var(--main-blue);
}

.group-title a,
.group-title a:hover {
  border-bottom: 0;
}
