.navbar {
  font-family: 'Julius Sans One', sans-serif;
  text-transform: lowercase;
}

.nav-item {
  font-weight: bold;
}

.nav-item.active {
  color: black;
  border-bottom: 4px solid var(--main-blue);
}

.nav-item:not(.active) {
  border-bottom: 4px solid transparent;
}

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
}

@media (min-width: 992px) {
  .nav-item:hover:not(.active) {
    border-bottom: 4px solid var(--main-blue);
  }
}
