{% extends 'blog/base/editorcp.html' %}

{% block title %}
  Delete Tag - {{ block.super }}
{% endblock title %}

{% block h1 %}
  Delete tag titled {{ object.name }}?
{% endblock h1 %}

{% block content %}
  <form method="post">
    {% csrf_token %}

    <div class="form-group">
      <p>Are you sure you want to delete this tag?</p>
      <div class="table-responsive">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
            </tr>  
          </thead>
          <tbody>
            <tr>
              <td>{{ object.id }}</td>
              <td>{{ object.name }}</td>
              <td>{{ object.description }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="form-group">
      <input class="btn btn-primary" type="submit" value="Delete {{ object.title }}">
    </div>
  </form>
{% endblock content %}
