{% extends 'blog/base/editorcp.html' %}

{% block title %}
  Edit or Remove Entries - {{ block.super }}
{% endblock title %}

{% block h1 %}
  Edit or remove entries
{% endblock h1 %}

{% block content %}
  <div class="table-responsive">
    <table class="table table-borderless table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Date Published</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in latest_entries_list %}
          <tr>
            <td>{{ entry.id }}</td>
            <td>{{ entry.title }}</td>
            <td>{{ entry.author }}</td>
            <td>{{ entry.pub_date }}</td>
            <td>
              <a href="{% url 'blog:edit_entry' entry.pk %}"><i class="fas fa-edit"></i></a>
              <a href="{% url 'blog:delete_entry' entry.pk %}"><i class="fas fa-trash-alt"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
