<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'blog:index' %}">Simpleblog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">

      <ul class="navbar-nav mr-auto">

        {% if active_navbar == 'home' %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'blog:index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:index' %}">Home</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>

      </ul>

      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          {% if user.is_staff or user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">Admin CP</a>
            </li>
          {% endif %}
          {% if user.profile.can_access_ecp %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:editorcp' %}">Editor CP</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="#">{{ user.username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:logout' %}">Logout</a>
          </li>
        {% else %}

          {% if active_navbar == 'login' %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'blog:login' %}">Login <span class="sr-only">(current)</span></a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:login' %}">Login</a>
            </li>
          {% endif %}

          {% if active_navbar == 'signup' %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'blog:signup' %}">Sign up <span class="sr-only">(current)</span></a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:signup' %}">Sign up</a>
            </li>
          {% endif %}

        {% endif %}
      </ul>

    </div>
  </div>
</nav>
