{% extends 'blog/base/content.html' %}

{% block title %}
  About - {{ block.super }}
{% endblock title %}

{% block content %}
  <div class="row">
    <h2 class="section-title col-12 col-xl-8"><span>About Simpleblog</span></h2>
  </div>
  <p class="mt-5 mb-0">Simpleblog is a very simple and open source CMS created by <a href="https://github.com/Aaron23145">Aarón Arriero Peláez.</a></p>
  <p>You can read more about the project in its repo: <a href="https://github.com/Aaron23145/simpleblog-django">Simpleblog Repository</a></p>
{% endblock content %}
