{% extends 'blog/base/content.html' %}

{% block title %}
  Index - {{ block.super }}
{% endblock title %}

{% block content %}
  <h1 class="d-none">Latest entries</h1>

  {% for entry in latest_entries_list %}
    <article>
      <div class="row">
        <h2 class="entry-title col-12 col-xl-8">
          <a href="{% url 'blog:view_entry' entry.pk entry.slug %}">{{ entry.title }}</a>
        </h2>
        <p class="entry-info col align-self-end">
          At {{ entry.pub_date }} by 
          <a class="entry-author" href="#">{{ entry.author }}</a>
        </p>
      </div>
      <p class="entry-summary">{{ entry.summary }}</p>
      {% if entry.content|length >= 2000 %}
        <p class="mb-0">{{ entry.content|truncatechars:2000 }}</p>
        <a href="{% url 'blog:view_entry' entry.pk entry.slug %}">Read more...</a>
      {% else %}
        <p>{{ entry.content|truncatechars:2000 }}</p>
      {% endif %}
      {% if entry.tag.all|length %}
        <div class="my-2 text-right">
        {% for tag in entry.tag.all %}
          <button class="btn btn-primary mt-1 mb-5 btn-sm">{{ tag.name }}</button>
        {% endfor %}
        </div>
      {% endif %}
    </article>
  {% endfor %}
{% endblock content %}
