{% extends 'blog/base/auth.html' %}

{% block title %}
  Login - {{ block.super }}
{% endblock title %}

{% block content %}
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'blog:login' %}">
    {% csrf_token %}
    {{ form.username.errors }}
    <div class="d-flex flex-column flex-md-row align-items-center mt-2">
      <label class="mr-3" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
      <input class="flex-grow-1" type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" autofocus required>
    </div>

    {{ form.password.errors }}
    <div class="d-flex flex-column flex-md-row align-items-center mt-2">
      <label class="mr-3" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
      <input class="flex-grow-1" type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" required>
    </div>

    <div class="text-center mt-2">
      <input type="submit" value="Login" />
    </div
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
{% endblock content %}
