{% extends 'blog/base/auth.html' %}

{% block title %}
  Login - {{ block.super }}
{% endblock title %}

{% block content %}
  <h1 class="d-none">Login</h1>

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'blog:login' %}">
    {% csrf_token %}

    <div class="form-group row align-items-center">
      <label class="ml-1 ml-sm-0 col-sm-3 col-form-label" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" placeholder="Username" required autofocus>
      </div>
      {{ form.username.errors }}
    </div>

    <div class="form-group row align-items-center">
      <label class="ml-1 ml-sm-0 col-sm-3 col-form-label" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
      <div class="col-sm-9">
        <input class="form-control" type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" placeholder="Password" required>
      </div>
      {{ form.password.errors }}
    </div>
    
    <div class="form-group text-center">
        <input class="btn btn-primary" type="submit" value="Login">
    </div>

    <input type="hidden" name="next" value="{{ next }}">
  </form>
{% endblock content %}
